/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
width: 400px;
margin :70px auto;

}
input{
  width: 100%;
  padding:15px;
  border-radius:12px;
box-sizing: border-box;
border: 1px solid lightgray;
}
input:focus{
   outline: none;
   border: 1px solid #646cff;
}
.desc{
  margin-top: 0;
  color: rgb(83, 83, 83);
}
.title{
margin-bottom: 0;
}
.alert{
  background-color:rgb(226, 255, 228);
  color: rgb(0, 93, 0);
  padding: 12px 30px;
  /* display: inline-block; */
  position: absolute;
  top:10px;
  right: 30px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.close-btn{
  padding: 0;
  background-color: transparent;
  border: none ;
  color: rgb(0, 93, 0);
}
.d-none{
  display: none ;
}

.card{
  margin:10px auto;
background-color: #eee;
  border-radius: 12px;
  width: 450px;
  padding: 16px 12px;
  display: flex;
  justify-content: space-between;
}
.delete-btn{
  border: none;
  background-color: transparent;
padding: 0;
margin: 0;
color: gray;

}
.delete-btn:hover{
  border: none;
  color: red;
}

@media (max-width: 767px) {

  .container{
    width: 370px;
  }

  .card{
    width: 350px;
  }
  .alert{
    padding:10px;
  }
}
.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
margin-top: 24px;
}
.icon, .icon-2{
  margin: 28px;
  color: black;
}
